@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}
html{
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.navigation{
display: flex;
  width: 1170px;
  margin: 0 auto;
}
.navigation-list {
  width: 685px;
  margin: 0;
  padding: 0;
}
.navigation-user {
  max-width: 470px;
  margin-left: auto;
}
.navigation-link {
  font-family: "Inter", sans-serif;
  line-height: 20px;
  color: #2D3440;
  font-weight: 400;
  text-align: center;
  color: #2D3440;
  background-color: #FEAFC3;
  text-decoration: none;
}

.visually-hidden {
  font-family: "Inter", sans-serif;
  line-height: 20px;
  color: #2D3440;
  font-weight: 400;
  text-align: center;
  color: #2D3440;
  background-color: #FEAFC3;
  text-decoration: none;
}

.advantages-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.popular-flavors {
  background-color: #FCFCFC;
}

.delivery {
  color: #2D3440;
  background-image: url("../images/delivery.jpg");
}

.new_blog {
  background-image: url("../images/new blog.jpg");
  background-repeat: no-repeat;
}

.footer-contacts {
  color: #2D3440;
  background-image: url("../images/contacts.jpg");
}

.information {
  background-color: #FFFFFF;
}

.newsletter {
  background-color: #FFFFFF;
}

.social-link {
  color: #2D3440;
  text-decoration: none;
}
.link{
  color: #2D3440;
  text-decoration: none;
}
.main-container{
  flex-grow: 1;
}
.page-container {
  width: 1170px;
  margin: 0 auto;
}
.logo {
  display: block;

}
.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #2D3440;
}
.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.page-footer-container {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}
.social{
  width: 104px;
  margin-right: 155px;
}
.footer-htmlacademy{
  width: 200px;
  margin-left: auto;
}
.footer-social-list{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}
.advantages-item {
  width: 570px;
}
.present{
  display: flex;
}
.present-list{
  display: flex;
}
